@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary: 258 90% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 38 92% 50%;
    --secondary-foreground: 0 0% 100%;

    --accent: 160 84% 39%;

    --success: 135 40% 60%;
    --success-foreground: 0 0% 100%;

    --danger: 0 68% 42%;
    --danger-foreground: 0 0% 100%;

    --warning: 37 95% 56%;
    --warning-foreground: 0 0% 100%;

    --card: 240 5% 26%;
    --card-foreground: 0 0% 0%;

    --content: 240 5% 84%;
    --content-foreground: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}
